.t-wrapper {
  overflow-x: hidden;
}

.table-wrapper {
  overflow-x: auto;
}

.table {
  /* padding-top: 1.5rem; */
  padding-bottom: 1.5rem;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .table {
    width: 120%;
  }
}
@media only screen and (max-width: 900px) {
  .table {
    width: 150%;
  }
}
@media only screen and (max-width: 600px) {
  .table {
    width: 180%;
  }
}
@media only screen and (max-width: 410px) {
  .table {
    width: 220%;
  }
}
@media only screen and (max-width: 360px) {
  .table {
    width: 130%;
  }
}

.table-row {
  transition: 0.4s;
  cursor: pointer;
}

.table-row:hover {
  background-color: var(--color-2);
}

.table-head,
.table-body {
  padding: 1.5rem 1rem;
}

.table-head:nth-child(1),
.table-body:nth-child(1) {
  padding-left: 0;
}
@media only screen and (max-width: 900px) {
  .table-head,
  .table-body {
    padding: 0.6rem;
  }
}

.table-head {
  text-align: left;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--color-white);

  /* display: flex;
  align-items: center;
  gap: 0.6rem; */
}

.table-head-item {
  display: flex;
  align-items: center;
}

.table-body {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--color-5);
  /* border-top: 1px solid var(--color-6); */
}
